{% extends 'workshop/base.html' %}

{% block title %}کارهای آماده{% endblock %}

{% block content %}
<div class="card shadow">
    <div class="card-header bg-primary text-white">
        لیست کارهای آماده تحویل
    </div>

    <div class="card-body">
        <table class="table table-bordered table-hover text-center align-middle">
            <thead class="table-light">
                <tr>
                    <th>بیمار</th>
                    <th>تلفن</th>
                    <th>وسیله</th>
                    <th>سمت</th>
                    <th>زمان آماده شدن</th>
                    <th>آماده‌کننده</th>
                    <th>توضیحات</th>
                    <th>عملیات</th>
                </tr>
            </thead>

            <tbody>
                {% for order in orders %}
                <tr class="status-{{ order.status }}">
                    <td>{{ order.patient_name }}</td>
                    <td>{{ order.phone }}</td>
                    <td>{{ order.get_device_type_display }}</td>
                    <td>{{ order.get_side_display }}</td>
                    <td>{{ order.ready_at|date:"Y-m-d H:i" }}</td>
                    <td>{{ order.ready_by.username }}</td>
                    <td>{{ order.workshop_notes }}</td>
                    <td>
                        <form method="post" action="{% url 'deliver-order' order.id %}">
                            {% csrf_token %}
                            <button class="btn btn-success btn-sm"
                                onclick="return confirm('آیا تحویل به بیمار انجام شد؟');">
                                تحویل شد
                            </button>
                        </form>
                    </td>

                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">کاری آماده نیست</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}